OPENAI_API_KEY=OPENAI_API_KEY
GROQ_API_KEY=GROQ_API_KEY
LANGCHAIN_API_KEY=LANGCHAIN_API_KEY
LANGCHAIN_PROJECT="Agentic2.0_1"
LANGCHAIN_TRACING_V2="true"
HF_TOKEN=HF_TOKEN
AZURE_OPENAI_API_KEY=AZURE_OPENAI_API_KEY
AZURE_OPENAI_ENDPOINT=AZURE_OPENAI_ENDPOINT
AZURE_OPENAI_DEPLOYMENT_NAME=AZURE_OPENAI_DEPLOYMENT_NAME
AZURE_OPENAI_API_VERSION=AZURE_OPENAI_API_VERSION
GOOGLE_API_KEY=GOOGLE_API_KEY
PINECONE_API_KEY=PINECONE_API_KEY
TAVILY_API_KEY=TAVILY_API_KEY
OPEN_ROUTER_API_KEY=OPEN_ROUTER_API_KEY
SERPER_API_KEY=SERPER_API_KEY
MEM0_API_KEY=MEM0_API_KEY
NGROK_AUTH_TOKEN=NGROK_AUTH_TOKEN
NOTION_TOKEN=NOTION_TOKEN
CREWAI_TELEMETRY_DISABLED="true"