pydantic
python-dotenv
langchain
langchain-openai
langchain-groq
langchain-core
langchain-community
defusedxml
pypdf
bs4
arxiv
fitz
frontend
pymupdf
wikipedia
faiss-cpu
langchain_google_genai
langchain_huggingface
langchain-pinecone
langgraph
youtube_search
chromadb